@{
    ViewData["Title"] = " Add Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main" id="main">
   
</main>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@
